/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body{
padding: 2.5%;
}

img{
  display: block;
  margin: 0 auto;
  height: 350px;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
